<!-- <header class="container-fluid bg-secondary fixed-top"> -->
<!-- <header class="container-fluid bg-transparent fixed-top"> -->
  <!-- class="navbar navbar-dark bg-dark mx-n5" -->
    <nav
      class="navbar navbar-dark py-5 bg-dark fixed-top"
      aria-label="Dark offcanvas navbar"
      w3-include-html="./comps/nav.html"
    >
      <!-- <div class="container-fluid">
        <a class="navbar-brand" href="#">BRAND HERE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbarDark"
          aria-controls="offcanvasNavbarDark"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="offcanvas offcanvas-end text-bg-dark"
          tabindex="-1"
          id="offcanvasNavbarDark"
          aria-labelledby="offcanvasNavbarDarkLabel"
          w3-include-html="./inc/offcanvas.html">
        </div> -->
    </nav>
  <!-- </header> -->