
<div
class="offcanvas offcanvas-end text-bg-dark"
tabindex="-1"
id="offcanvasNavbarDark"
aria-labelledby="offcanvasNavbarDarkLabel"
>
<div 
    class="offcanvas-header">
    <h5 
        class="offcanvas-title"
        id="offcanvasNavbarDarkLabel"
    >TOC</h5>

    <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
    ></button>
</div>

<div class="offcanvas-body">
  <div w3-include-html="./comps/toc.html"></div>
  <!-- <div w3-include-html="../inc/comps/offcanvas_content.html"></div> -->
</div>
</div>